.container{
    width: 100%;
    margin:auto;
    text-align: justify;
}

.cabecalho {
    width: 100%;
    height: 15.0em;
    margin-bottom: 3.0em;
}

.container h1{
    text-align: center;
    padding: 50px;
    background-color: rgb(184, 171, 197); 
    color: yellow;
    margin-bottom: 1.0em;
}


#imagem{
    width: fit-content;
    height: fit-content;
}

.row img{
    width: 30.0em;
    height: 15.0em;
    margin-bottom: 5.0em;
}

.row p{
    margin-bottom: auto;
}
